
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap);

* {
    font-family: 'Montserrat';
}


body {
    margin: 0 auto;
}



/* menu de navigation */




nav.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 400px;
    margin-left: 750px;
    font-weight: bold;
}

nav.nav li a {
    text-decoration: none ;
}

.nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 80%; /* ajustez la largeur de la barre de navigation */
  margin-left: 10%; /* définit la position initiale de la barre de navigation */
}

.nav-link {
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  text-decoration: underline;
}


/* HEADER */
.top-page{
    grid-area: header;
    padding: 10px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../images/fond4.jpg);
    height: 20vh;
    margin: 0;
    background-size: 100%;
}

.header {
    background-repeat: no-repeat; 
}

h1 {

    text-align: center;
}
  
  
  .infos{
    columns: 2;
    list-style-type: none;
    padding: 0;
  }
  

  form {
    /* On centre le formulaire */
    margin: 0 auto;
    width: 400px;

  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 40px;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Taille et alignement uniformes */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* On s'assure que les champs texte ont la même police
       Par défaut, les zones de texte ont une police à chasse
       fixe. */
    font: 1em sans-serif;
  
    /* Taille uniforme pour des champs */
    width: 300px;
    box-sizing: border-box;
  
    /* On utilise la même bordure que pour le formulaire */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* On rajoute une mise en avant pour les éléments avec
       le focus. */
    border-color: #000;
  }
  
  textarea {
    /* On aligne les textes sur plusieurs lignes avec leur
       libellé. */
    vertical-align: top;
  
    /* On fournit un peut d'espace pour saisir du texte. */
    height: 10em;
  
    /* On permet de redimensionner verticalement. */
    resize: vertical;
  }
  
  .button {
    /* On aligne les boutons avec les champs texte. */
    padding-left: 90px; /* La même taille que les libellés */
  }
  
  button {
    /* Une marge supplémentaire représentant approximativement
       le même espace qu'entre les libellés et les champs. */
    margin-left: 0.5em;
  }




/* pied de page */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    font-weight: 600;
}
