
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap);

* {
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
}



/* menu de navigation */




nav.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 400px;
    margin-left: 750px;
    font-weight: bold;
}

nav.nav li a {
    text-decoration: none ;
}

.nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 80%; /* ajustez la largeur de la barre de navigation selon vos besoins */
  margin-left: 10%; /* Définit la position initiale de la barre de navigation */
}

.nav-link {
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  text-decoration: underline;
}

  /* HEADER */

  .top-page{
    grid-area: header; /* placement au niveau de la grille*/
    padding: 10px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../images/fond3.jpg);
    height: 20vh;
    margin: 0;
    background-size: 100%;
}

  .infos{
    columns: 2;
    list-style-type: none;
    padding: 0;
  }
  

/* GENERAL */

img {

  width:200px; /* Largeur de votre photo */
  height: auto; /* Hauteur automatique pour conserver les proportions */
  border-radius:  50%; /* Ajout d'une bordure arrondie pour créer un effet de cercle */
  border: 3px solid ; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  display: block; 
  margin: 0 auto; 

}

*{
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: Roboto;
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.5;
  }
  
  a{
    text-decoration: none;
    color: white;
  }
  
  a:hover{
    text-decoration: underline;
  }
  
  p{
    margin: 0 0 1rem;
  }
  
  h1{
    margin: 0 0 1rem;
    font-size: 2.5rem;
    margin-bottom: .5rem;
    text-align: center;
    margin-top: 100px;
  }
  
  h2{
    margin: 0 0 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .text-blue{
    color: #4472C4;
  }
  
  .text-darkblue{
    color: #002060;
  }
  
  .text-uppercase{
    text-transform: uppercase; 
  }
  
  .icon{
    margin-right: .5rem;
  }
  
  .cv-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left-column right-column right-column";
    width: 1200px;
    margin: 5px auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .section{
    margin-bottom: 1.5rem;
    font-size : 1.2rem;
  }
  
  /* LEFT COLUMN */
  .left-column{
    grid-area: left-column;
    padding: 50px;
    background-color: #4472C4;
    color: white;
  }
  
  .portait{
    border-radius: 50%;
    max-width: 150px;
    margin: auto;
    display: block;
    margin-bottom: 50px;
  }
  
  .skills{
    list-style-type: none;
    padding: 0;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin: 0 0 1rem;
  }
  .langues {

    list-style-type: none;
    padding: 0;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin: 0 0 1rem;

  }

  .centres {

    list-style-type: none;
    padding: 0;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin: 0 0 1rem;


  }
  
  /* RIGHT COLUMN */
  .right-column{
    grid-area: right-column;
    display: grid;
    grid-template-rows: 250px 1fr;
    grid-template-areas: 
      "header"
      "content";
  }
  

  /* CONTENT */
  .content{
    grid-area: content;
    padding: 50px;
  }
  
  .experience-list{
    list-style-type: circle;
    font-size: 1.4rem;
  
  }

  .langues-list {
    list-style-type: circle;
    font-size: 1.4rem;
}

/* pied de page */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    font-weight: 600;
}
